h1 {
    margin-top: 24px;
}

footer {
    background: #f8f9fa;
    margin-top: 24px;
}

footer div {
    color: #6c757d;
}

footer a{
    color: #343a40;
}

footer a:hover {
    color: #343a40;
}

div.row {
    margin-top: 30px;
}

.about-description{
    margin-top: 24px;
}
.catalog-item{
    margin-top: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

.about-dev{
    margin-top: 12px;
}

.home-description{
    margin-top: 12px;
}